*{
    margin: 0%;
    padding: 0%;
}
.background-container{
    max-width: 100%;
    border: solid 1px green;
}
.chat-container{
   
    margin: 2%;
    height: 90%;
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    max-width: 95%;
}
nav,aside{
   
    flex-direction:column ;
  
}
nav{
width:30%  ;
border: solid 1px yellow;
}
aside{
    border: solid 1px blue;
    width: 70%;
}